[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytz = "*"
numpy = "*"
pandas = "*"
python-dotenv = "*"
requests = "*"
binance-connector = "*"
openpyxl = "*"
binance-futures-connector = "*"
tensorflow = "*"
keras-tuner = "*"
matplotlib = "*"
scikit-learn = "*"
xgboost = "*"
memory-profiler = "*"
git-filter-repo = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
